version: "3.8"
services:
  api:
    build: .
    restart: always
    ports:
      - 8080:8080
#
#    networks:
#      - springapimysql-net
    container_name: api_science
    environment:
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_PORT: 80
      MYSQL_HOST: mysqldb

    depends_on:
      - mysqldb
    volumes:
      - .m2:/root/.m2
#
  mysqldb:
    container_name: mysqldb
    image: 'mysql:latest'
    restart: always
    ports:
      - 3306:3306
#    networks:
#      - springapimysql-net
    environment:
      MYSQL_DATABASE: scienceinnovationbd
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: admin
#networks:
#  springapimysql-net: